.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: var(--dark-cardbackground);
  border-radius: 3px;
  padding: 1rem;
  max-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-highlight {
  color: var(--dark-cardhighlight);
  font-size: 1.2rem;
  font-weight: 600;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
