.zach-container {
  padding: 1rem;
}

.socials {
  gap: 1rem;
  text-align: center;
}

.icons {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.socials img {
  max-width: 3rem;
}

.job-title {
  font-size: 1.2rem;
  font-weight: 600;
}
