@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Prociono&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --dark-background: #232946;
  --dark-headline: #fffffe;
  --dark-paragraph: #b8c1ec;
  --dark-button: #eebbc3;
  --dark-button-text: #232946;
  --dark-cardbackground: #fffffe;
  --dark-cardheadline: #232946;
  --dark-cardparagraph: #232946;
  --dark-cardtag-bg: #232946;
  --dark-cardtag-txt: #b8c1ec;
  --dark-cardhighlight: #d4939d;
  --dark-link: #eebbc3;

  --light-background: #d4d8f0;
  --light-headline: #232946;
  --light-subheadline: #232946;
  --light-cardbackground: #fffffe;
  --light-cardheading: #232946;
  --light-cardparagraph: #232946;

  --salmon-background: #eebbc3;
  --s-headline: #232946;
  --s-paragraph: #232946;
  --s-link: #232946;

  --stroke: #121629;
  --main: #b8c1ec;
  --secondary: #fffffe;
  --tertiary: #eebbc3;
  --highlight: #eebbc3;

  --main-font: "Crimson Text", serif;
}

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

button {
  font-family: var(--main-font);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
  background-color: var(--dark-background);
  color: var(--dark-headline);
  position: relative;
  z-index: 10;
}

main {
  background-color: var(--dark-background);
  flex-grow: 1;
  color: var(--dark-headline);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-background);
  color: var(--light-headline);
}

form {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="text"],
input[type="email"] {
  font-size: 1.2rem;
}

textarea {
  font-size: 1rem;
  padding: 0.3rem;
  overflow: hidden;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--dark-link);
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

nav {
  padding: 1rem;
}

@media (max-width: 767px) {
  header {
    display: block;
  }

  main {
    padding: 1rem;
  }

  .name-and-pic {
    text-align: justify;
    padding: 1rem 0 0;
  }

  .name {
    font-size: 0.9rem;
  }

  .navigation {
    padding: 0;
  }

  .title {
    font-size: 0.9rem;
  }

  .desc {
    padding: 0.3rem;
  }

  .desc p {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .project-button {
    padding: 0 3rem 3rem;
  }

  .contact-me {
    display: block;
  }

  .contact {
    display: block;
  }

  .title.contact-me {
    text-align: center;
    padding: 1rem;
  }

  .button-container {
    display: flex;
    justify-content: center;
    padding: 1rem 0 0;
  }

  .proj-container {
    display: block;
  }

  .proj {
    margin: 1rem;
  }

  .proj-desc {
    text-align: center;
  }
}
