.name-and-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-photo img {
  width: 100%;
  display: block;
  image-rendering: crisp-edges;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.home-link {
  color: var(--dark-headline);
  font-size: 1rem;
}

.home-link a {
  font-size: 16px;
}
